* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body{
  background: #160A28;
}
.container{
  margin: 0 auto;
  text-align: center;
}
.slick-list{
  padding: 0 7px!important;
}
.slick-prev {
  left: -45px!important;
  top: 125px!important;
}
.slick-next {
  right: -45px!important;
  top: 125px!important;
}
footer{
  background: #FFFFFF;
  text-align: center;
  font: normal normal normal 20px/32px Open Sans;
  letter-spacing: 0;
  color: #101639B3;
}