
.header {
    width: 100%;
    max-width: 1960px;
    padding: 20px 110px;
    position: absolute;
}

.menuBlock {
    display: flex;
}
.mobileMenuBlock{
    display: none;
}

.banner {
    padding-top: 28px;
    padding-bottom: 28px;
    background-image: url("../../public/images/banner/Group69250.svg"), url("../../public/images/banner/Group69165.svg");
    background-position: 100% 0, -50px 100%;
    background-repeat: no-repeat;
}

.bannerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    max-width: 1200px;
    margin-top: 120px;

}

.headingSubTitle {
    font: normal normal normal 30px/38px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF99;
    width: 1000px;
    margin-top: 30px;
}

.bannerImg {
    position: relative;
    margin: 120px auto 0;
    height: 600px;
    width: fit-content;
}

.imgItem1 {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
}

.imgItem2 {
    position: absolute;
    top: -80px;
    left: 50%;
    z-index: 3;
    transform: scale(1.3) !important;
}

.imgItem3 {
    position: relative;
    z-index: 2;
}

.menuItem {
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-right: 50px;
    transition: all ease 0.5s;
}

.flag {
    margin-right: 10px;
}

.lang {
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.menuItem:hover,
.dropDawnOptions:hover .lang {
    color: #FFFFFF99;
}

.langBlock {
    position: relative;
}

.dropDawnSelect {
    position: absolute;
    top: 35px;
    z-index: 10;
    right: 0;
    width: 169px;
    height: 94px;
    border-radius: 4px;
    box-shadow: 0 5px 5px #121C2733;
    background: #FFFFFF0D;
}

.dropDawnOptionsContainer {
    padding: 16px 15px;
}

.dropDawnOptions {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 22px;
}

.trusted {
    width: 100%;
}

.trustedTopBg {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    top: -179px;
}

.trustedContent {
    background: #fff;
    position: relative;
    top: -180px;
}


.trustedContentBlock {
    padding-left: 110px;
    margin-top: 100px;
}

.trustedBlock {
    position: relative;
    top: 10px;
}

.trustedBg {
    background-image: url("../../public/images/trusted/MaskGroup13@2x.png");
    background-position: 100% 35px;
    background-size: 1180px 914px;
    background-repeat: no-repeat;
    height: 948px;
}

.trustedTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-align: left;
    margin-bottom: 30px;
}

.trustedList {
    margin-left: 15px;
    text-align: left;
    font: normal normal 600 26px/34px Open Sans;
    letter-spacing: 0;
    color: #101639;
    margin-bottom: 30px;
}

.tows {
    width: 100%;
    position: relative;
    top: -180px;
    padding: 0 110px;
}

.towsContent {
    background-image: url("../../public/images/tows/Group69162.svg");
    background-position: 0 30px;
    background-repeat: no-repeat;
}

.webSolutionItem {
    width: 520px;
    height: 560px;
    background: #171333 0 0 no-repeat padding-box;
    border-radius: 15px;
    text-align: left;
    padding: 40px;
}

.webSolutionItemTitle {
    margin-top: 40px;
    font: normal normal 600 28px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
}

.webSolutionItemDesc {
    font-size: 20px;
    line-height: 28px;
    font-family: OpenSans-Regular, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF66;
    width: 466px;
}

.towsTitle {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 67px;
    text-align: left;
    padding-left: 15px;
}

.imgMatrix {
    position: absolute;
    top: 67px;
    right: 400px;
    z-index: 0;
}

.bg {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    top: -300px;
}

.ourProject {
    width: 100%;
}

.ourProjectBlock {
    position: relative;
    top: -300px;
    background: #ffffff;
    padding: 30px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProjectTitle {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #101639;
}

.ourProjectDesc {
    font-size: 30px;
    line-height: 38px;
    font-family: OpenSans-Regular, sans-serif;
    color: #101639;
}

.ourProjectBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background: #98FC03;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all ease 0.5s;
}

.ourProjectBtn:hover {
    transform: scale(0.95);
}

.Link {
    color: #101639;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.bgRevers {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
    bottom: -248px;
}

.carouselItem {
    width: 370px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.carouselItemImageBlock {
    margin-top: 40px;
}

.carouselItemImage {
    width: 100%;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px #00000033;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.carouselItemImage:before {
    content: "";
    position: absolute;
    background-image: url("../../public/images/outProject/Group69166.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 400px;
    top: -65px;
    left: -30px;
}

.carouselItemTitle {
    font-weight: 800;
    font-size: 22px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639;
    margin-top: 15px;
    align-self: flex-start;
}

.carouselItemDesc {
    font-weight: normal;
    letter-spacing: 0;
    font-size: 20px;
    font-family: OpenSans, sans-serif;
    color: #101639B3;
    text-transform: capitalize;
    margin-top: 10px;
    align-self: flex-start;
}

.ourProjectCarousel {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.slider {
    padding: 0 10px;
}

.ourTeamBlock {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ourTeamTitle > h2 {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #fff;
    letter-spacing: 0;
}

.ourTeamDesc > p {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 0;
    color: #FFFFFF
}

.swiperSlideItem {
    max-width: 404px;
    height: 520px !important;
    background-image: url("../../public/images/ourTeam/4.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: all 0.8s !important;
    cursor: pointer;
    margin: 40px 0;
    z-index: 33;
    position: relative;
}

.swiperSlideItem:hover {
    transform: scale(1.03) !important;
    filter: none;
    box-shadow: inset 0 -200px 65px -1px rgba(0, 0, 0, 0.65);
}

.swiperSlideItem:hover .ourTeamCarouselItemInfo {
    color: #FFFFFFB3;
    display: block;
}

.swiperSlideItem:hover .ourTeamCarouselItemContext {
    top: -20px;
    padding-bottom: 20px;
}


.ourTeamCarouselItemTitle {
    font: normal normal 800 24px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
}

.ourTeamCarouselItemDesc {
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0;
    color: #FFFFFFB3;
}

.ourTeamCarouselItemInfo {
    transition: all ease 0.6s !important;
    margin: 25px 0 0;
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0;
    color: transparent;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
    text-align: center;
    padding: 0 20px;
}

.ourTeamCarouselItemContext {
    width: 100%;
    padding: 10px 0 15px;
    position: relative;
    transition: all ease 0.5s;
    margin-bottom: 20px;
    top: 20px;
}

.contactBlock {
    width: 100%;
    padding: 50px 0;
    background: #ffffff;
}

.contactTitle {
    font-weight: 800;
    font-size: 40px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactNum {
    font: normal normal 300 36px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactEmail {
    font-weight: normal;
    font-size: 24px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639B3;
}


.contactPlace {
    font: normal normal 300 36px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactPlaceInfo {
    text-align: center;
    font: normal normal normal 24px/32px Open Sans;
    letter-spacing: 0;
    color: #101639B3;
    width: 33%;
}

.contactSocialInfo > ul {
    margin-top: 10px;
    display: flex;
}

.contactSocialInfo > ul > li {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #101639;
    transition: all ease 0.5s;
    cursor: pointer;
}

.contactSocialInfo > ul > li:hover {
    background: #27336e;
}

.contactSocialInfo > ul > li:last-child {
    margin-right: 0;
}

.contactUsBlock {
    width: 100%;
    padding: 100px 0;
    background: #160A28;
}

.contactUsQuestion {
    letter-spacing: 0;
    font-weight: 800;
    font-size: 60px;
    font-family: OpenSans, sans-serif;
    color: #FFFFFF;
}

.contactUsHelp {
    font-weight: normal;
    font-size: 30px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.contactUsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background: #98FC03;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all ease 0.5s;
    font: normal normal bold 22px/30px Open Sans;
    letter-spacing: 0;
    color: #101639;
    cursor: pointer;
}

.contactUsBtn:hover {
    transform: scale(0.95);
}

@media screen and (max-width: 1400px) {
    .headingTitle {
        font: normal normal 800 50px/58px Open Sans, sans-serif;
        max-width: 920px;

    }

    .banner {
        background-position: 103% -117px, -94px 104%;
    }

    .imgItem3 {
        top: 30px;
    }

    .headingSubTitle {
        font: normal normal normal 26px/34px Open Sans, sans-serif;
        width: 920px;
    }

    .trustedTopBg {
        background-image: url("../../public/images/trusted/Path128902.svg");
        background-repeat: no-repeat;
        height: 150px;
        position: relative;
        top: -180px;
        background-size: cover;
    }

    .trustedContent {
        background: #fff;
        position: relative;
        top: -180px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-position: 100% 57px;
        background-size: 799px 704px;
        height: 760px;
    }


    .trustedContentBlock {
        padding-left: 65px;
    }

    .trustedTitle {
        font: normal normal 800 50px/58px Open Sans, sans-serif;
    }

    .trustedList {
        font: normal normal 600 22px/30px Open Sans, sans-serif;
    }

    .tows {
        top: -180px;
        padding: 0 65px;
    }

    .towsTitle {
        font-size: 50px;
    }

    .webSolutionItem {
        width: 396px;
        height: 410px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        margin-top: 20px;
        font: normal normal 600 22px/36px Open Sans, sans-serif;
    }

    .webSolutionItemDesc {
        font: normal normal normal 16px/24px Open Sans, sans-serif;
        width: 356px;
    }

    .bg {
        background-size: 1366px 813px;
    }

    .bgRevers {
        height: 203px;
        bottom: -200px;
        background-size: cover;
    }

    .imgMatrix {
        top: 85px;
        right: 324px;
        z-index: 0;
    }

    .ourProjectTitle {
        font-size: 50px;
    }

    .ourProjectDesc {
        width: 920px;
        font-size: 26px
    }

    .ourProjectCarousel {
        max-width: 1220px;
    }

    .ourTeamTitle > h2 {
        font-size: 50px;
    }

    .ourTeamDesc > p {
        font-size: 26px;
    }

    .swiperSlideItem {
        max-width: 288px;
        height: 371px !important;
    }

    .contactTitle {
        font-size: 36px;
    }

    .contactNum {
        font: normal normal 300 32px/68px Open Sans;
    }

    .contactEmail {
        font-size: 20px;
        line-height: 28px;
    }

    .contactPlace {
        font: normal normal 300 32px/68px Open Sans;
    }

    .contactPlaceInfo {
        font: normal normal normal 20px/30px Open Sans;
    }

    .contactUsQuestion {
        font-size: 50px;
    }

    .contactUsHelp {
        font-size: 26px;
    }

}

@media screen and (max-width: 1290px) {
    .headingTitle {
        max-width: 860px;

    }

    .headingSubTitle {
        width: 860px;
    }

    .banner {
        background-position: 127% -131px, -121px 107%;
    }

    .imgItem1 {
        top: 30px;
        left: 11px;
    }

    .imgItem2 {
        top: 40px;
        left: 50%;
    }

    .imgItem3 {
        top: 105px;
    }

    .trustedTopBg {
        background-image: url("../../public/images/trusted/Path128902.svg");
        background-repeat: no-repeat;
        height: 150px;
        position: relative;
        top: -180px;
        background-size: cover;
    }

    .trustedContent {
        background: #fff;
        position: relative;
        top: -180px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-position: 100% 57px;
        background-size: 799px 704px;
        height: 760px;
    }


    .trustedContentBlock {
        padding-left: 65px;
    }

    .trustedTitle {
        font: normal normal 800 50px/58px Open Sans, sans-serif;
    }

    .trustedList {
        font: normal normal 600 22px/30px Open Sans, sans-serif;
    }

    .tows {
        top: -180px;
        padding: 0 65px;
    }

    .towsTitle {
        font-size: 50px;
    }

    .webSolutionItem {
        width: 370px;
        height: 410px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        margin-top: 20px;
        font: normal normal 600 22px/36px Open Sans, sans-serif;
    }

    .webSolutionItemDesc {
        font: normal normal normal 16px/24px Open Sans, sans-serif;
        width: 330px;
    }

    .carouselItem {
        width: 326px;
    }


    .carouselItemImage:before {
        background-size: 379px 111px;
        left: -27px;
    }


    .bg {
        background-size: 1366px 813px;
    }

    .bgRevers {
        height: 203px;
        bottom: -200px;
        background-size: cover;
    }

    .imgMatrix {
        right: 302px;
    }

    .ourProjectTitle {
        font-size: 50px;
    }

    .ourProjectDesc {
        width: 830px;
        font-size: 26px
    }

    .ourProjectCarousel {
        max-width: 1120px;
    }

    .ourTeamTitle > h2 {
        font-size: 50px;
    }

    .ourTeamDesc > p {
        font-size: 26px;
    }

    .swiperSlideItem {
        max-width: 288px;
        height: 371px !important;
    }

    .contactTitle {
        font-size: 36px;
    }

    .contactNum {
        font: normal normal 300 32px/68px Open Sans;
    }

    .contactEmail {
        font-size: 20px;
        line-height: 28px;
    }

    .contactPlace {
        font: normal normal 300 32px/68px Open Sans;
    }

    .contactPlaceInfo {
        font: normal normal normal 20px/30px Open Sans;
    }

    .contactUsQuestion {
        font-size: 50px;
    }

    .contactUsHelp {
        font-size: 26px;
    }

}

@media screen and (max-width: 1024px) {
    .headingTitle {
        max-width: 784px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .menuItem {
        font: normal normal bold 16px/22px Open Sans, sans-serif;
    }

    .headingSubTitle {
        max-width: 784px;
        font: normal normal normal 24px/32px Open Sans;
    }

    .banner {
        background-position: 283% -250px, -185px 92%;
    }

    .bannerImg {
        top: -100px;
    }

    .imgItem1 {
        top: 30px;
        left: 11px;
    }

    .imgItem2 {
        top: 40px;
        left: 50%;
    }

    .imgItem3 {
        top: 50px;
        left: 10px;
    }

    .trusted {
        height: 585px;
    }

    .trustedTopBg {
        height: 183px;
        top: -374px;
        background-size: cover;
    }

    .trustedContent {
        top: -410px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-position: 100% 85px;
        background-size: 644px 576px;
        height: 661px;
    }

    .trustedContentBlock {
        padding-left: 65px;
    }

    .trustedTitle {
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .trustedList {
        font: normal normal 600 16px/24px Open Sans, sans-serif;
    }

    .tows {
        top: -180px;
        padding: 0 65px;
    }

    .towsContent {
        background-position: -33px 30px;
        background-size: 236px 106px;
    }

    .towsTitle {
        margin-top: 88px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .webSolutionItem {
        width: 436px;
        height: 370px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        font: normal normal 600 20px/18px Open Sans, sans-serif;
    }

    .webSolutionItemDesc {
        font: normal normal normal 16px/24px Open Sans, sans-serif;
        width: 396px;
    }

    .carouselItem {
        width: 260px;
    }


    .carouselItemImage:before {
        background-size: 303px 111px;
        left: -22px;
    }

    .carouselItemImage {
        height: 150px;
    }


    .bg {
        background-size: 1024px 553px;
    }

    .bgRevers {
        height: 162px;
        bottom: -135px;
        background-size: cover;
    }

    .imgMatrix {
        display: none;
    }

    .ourProjectTitle {
        margin-top: 60px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .ourProjectDesc {
        width: 784px;
        margin-top: 25px;
        font: normal normal normal 24px/32px Open Sans, sans-serif;
    }

    .ourProjectCarousel {
        max-width: 890px;
    }

    .ourTeamTitle > h2 {
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .ourTeamBlock {
        margin-top: 0;
        padding: 0 0 76px;
        position: relative;
        top: -80px;
    }

    .ourTeamDesc > p {
        margin-top: 20px;
        font: normal normal normal 24px/32px Open Sans, sans-serif;
    }

    .swiperSlideItem {
        max-width: 260px;
        height: 263px !important;
    }

    .swiperSlideItem:hover {
        transform: scale(1.03) !important;
        box-shadow: inset 0 -100px 40px 0 rgba(0, 0, 0, 0.65);
    }

    .contactTitle {
        font-size: 28px;
    }

    .contactNum {
        font-size: 24px;
    }

    .contactEmail {
        font-size: 16px;
    }

    .contactPlace {
        font-size: 24px;
    }

    .contactPlaceInfo {
        font-size: 16px;
    }

    .contactUsQuestion {
        font-size: 40px;
    }

    .contactUsHelp {
        font-size: 24px;
    }

}

@media screen and (max-width: 770px) {
    .header {
        padding: 20px 24px 20px 62px;
    }

    .headingTitle {
        max-width: 784px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .menuItem {
        font: normal normal bold 16px/22px Open Sans, sans-serif;
    }

    .headingSubTitle {
        max-width: 754px;
        font: normal normal normal 24px/32px Open Sans;
    }

    .banner {
        background-position: -107% -411px, -111px 74%;
    }

    .bannerImg {
        top: -80px;
    }

    .imgItem1 {
        display: none;
    }

    .imgItem2 {
        left: 42%;
        right: 50px;
        transform: scale(1.2) !important;
    }

    .imgItem3 {
        top: 50px;
        left: 10px;
    }

    .trusted {
        height: 389px;
    }

    .trustedTopBg {
        top: -499px;
    }

    .trustedContent {
        top: -500px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-image: none;
        height: 555px;
    }

    .trustedContentBlock {
        padding-left: 0;
    }

    .trustedTitle {
        margin-bottom: 80px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .trustedList {
        margin-top: 10px;
        width: 224px;
        text-align: center;
        font: normal normal 600 14px/22px Open Sans, sans-serif;
    }

    .tows {
        padding: 0 24px;
    }

    .towsContent {
        background-position: -33px 30px;
        background-size: 236px 106px;
    }

    .towsTitle {
        margin-top: 88px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .webSolutionItem {
        width: 348px;
        height: 408px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        font: normal normal 600 20px/36px Open Sans, sans-serif;
    }

    .webSolutionItemDesc {
        font: normal normal normal 16px/23px Open Sans, sans-serif;
        width: 308px;
        padding-bottom: 10px;
    }

    .ourProjectBlock {
        padding: 0;
    }

    .carouselItem {
        width: 260px;
    }

    .ourTeamCarouselItemTitle {
        font-size: 16px;
    }

    .ourTeamCarouselItemInfo,
    .ourTeamCarouselItemDesc {
        font-size: 14px;
    }


    .carouselItemImage:before {
        background-size: 303px 111px;
        left: -22px;
    }

    .carouselItemImage {
        height: 150px;
    }


    .bg {
        background-size: 768px 506px;
    }

    .bgRevers {
        height: 162px;
        bottom: -135px;
        background-size: cover;
    }

    .imgMatrix {
        display: none;
    }

    .ourProjectTitle {
        margin-top: 60px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .ourProjectDesc {
        margin-top: 25px;
        font: normal normal normal 24px/32px Open Sans, sans-serif;
    }

    .ourProjectCarousel {
        max-width: 610px;
    }

    .ourTeamTitle > h2 {
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .ourTeamBlock {
        margin-top: 0;
        padding: 0 0 76px;
        position: relative;
        top: -80px;
    }

    .ourTeamDesc > p {
        margin-top: 20px;
        font: normal normal normal 24px/32px Open Sans, sans-serif;
    }

    .swiperSlideItem {
        max-width: 260px;
        height: 263px !important;
    }

    .swiperSlideItem:hover {
        transform: scale(1.03) !important;
        filter: none;
        box-shadow: inset 0 -100px 40px 0 rgba(0, 0, 0, 0.65);
    }

    .contactTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .contactNum {
        font-size: 20px;
        line-height: 32px;
    }

    .contactEmail {
        font-size: 14px;
        line-height: 20px;
    }

    .contactPlace {
        font-size: 20px;
        line-height: 32px;
    }

    .contactPlaceInfo {
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }

}

@media screen and (max-width: 700px) {
    .mobileMenuBlock{
        display: block !important;
    }

    .menuItem {
        font: normal normal bold 18px/22px Open Sans, sans-serif;
        letter-spacing: 0;
        cursor: pointer;
        color: #101639;
        margin-bottom: 25px;
        margin-left: 40px;
    }

    .menuItem:hover {
        font: normal normal bold 18px/22px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #10163999;
    }

    .header {
        padding: 20px 24px 20px 30px;
    }

    .headingTitle {
        max-width: 80%;
    }


    .headingSubTitle {
        max-width: 80%;
    }

    .banner {
        background-position: 154% -106px, -152px 66%;
        background-size: 472px 359px;
    }

    .imgItem1 {
        display: none;
    }

    .imgItem2 {
        display: none;
    }

    .imgItem3 {
        display: none;
    }

    .trusted {
        height: 389px;
    }

    .trustedTopBg {
        top: -499px;
    }

    .trustedContent {
        top: -500px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-image: none;
        height: 555px;
    }

    .trustedContentBlock {
        padding-left: 0;
        margin-top: 40px;
    }

    .trustedTitle {
        margin-bottom: 30px;
    }

    .trustedList {
        margin-top: 10px;
        width: 224px;
        text-align: center;
        font: normal normal 600 14px/22px Open Sans, sans-serif;
    }

    .tows {
        padding: 0 24px;
    }

    .towsContent {
        background-position: -39px 30px;
        background-size: 217px 86px;
    }

    .towsTitle {
        margin-top: 115px;
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .webSolutionItem {
        width: 298px;
        height: 408px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        font: normal normal 600 20px/36px Open Sans, sans-serif;
    }

    .webSolutionItemDesc {
        font: normal normal normal 16px/20px Open Sans, sans-serif;
        width: 277px;
        padding-bottom: 10px;
    }

    .ourProjectBlock {
        padding: 0;
    }

    .carouselItem {
        width: 260px;
    }

    .ourTeamCarouselItemTitle {
        font-size: 16px;
    }

    .ourTeamCarouselItemInfo,
    .ourTeamCarouselItemDesc {
        font-size: 14px;
    }


    .carouselItemImage:before {
        background-size: 303px 111px;
        left: -22px;
    }

    .carouselItemImage {
        height: 150px;
    }


    .bg {
        background-size: 768px 506px;
    }

    .bgRevers {
        height: 162px;
        bottom: -135px;
        background-size: cover;
    }

    .imgMatrix {
        display: none;
    }

    .ourProjectTitle {
        width: 90%;
    }

    .ourProjectDesc {
        width: 90%;
    }

    .ourProjectCarousel {
        max-width: 610px;
    }

    .ourTeamTitle > h2 {
        font: normal normal 800 40px/48px Open Sans, sans-serif;
    }

    .ourTeamBlock {
        margin-top: 0;
        padding: 0 0 76px;
        position: relative;
        top: -80px;
    }

    .ourTeamDesc > p {
        margin-top: 20px;
        font: normal normal normal 24px/32px Open Sans, sans-serif;
    }

    .swiperSlideItem {
        max-width: 260px;
        height: 263px !important;
    }

    .swiperSlideItem:hover {
        transform: scale(1.03) !important;
        filter: none;
        box-shadow: inset 0 -100px 40px 0 rgba(0, 0, 0, 0.65);
    }

    .contactTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .contactNum {
        font-size: 20px;
        line-height: 32px;
    }

    .contactEmail {
        font-size: 14px;
        line-height: 20px;
    }

    .contactPlace {
        font-size: 20px;
        line-height: 32px;
    }

    .contactPlaceInfo {
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }

    .header {
        width: 100%;
        position: fixed;
        background: transparent;
        z-index: 9999;
    }

    .headerBg {
        background: rgb(22, 10, 40) !important;
    }


    .burgerBtn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 20px;
        height: 20px;
        position: relative;
    }

    .burgerBtn > span {
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
    }

    .hideItem {
        height: 0 !important;
    }

    .rotateItem {
        transform: rotate(135deg);
        transition: all ease 0.7s;
    }

    .rotateItemFirst {
        position: absolute;
        bottom: 0;
        transform: rotate(45deg);
        transition: all ease 0.7s;
    }

    .burgerBtnAlternative {
        top: -10px;
    }

    .mobileMenuBlock {
        width: 110%;
        height: 100%;
        background-color: white;
        transform: translateX(-109%);
        position: fixed;
        margin-top: 68px;
        padding: 20px;
        top: 0;
        transition: all ease 0.7s;
        background-repeat: no-repeat;
        background-position: 85% 88%, 93% 71%;
        background-image: url("../../public/images/banner/mobile.svg");
    }

    .transition {
        transform: translateX(-9%) !important;
    }

    .mobileMenuItem {
        font: normal normal bold 18px/22px Open Sans;
        letter-spacing: 0;
        cursor: pointer;
        color: #101639;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 430px) {
    .header {
        padding: 22px 20px;
        background: transparent;
    }

    .menuItem {
        font: normal normal bold 18px/22px Open Sans, sans-serif;
        letter-spacing: 0;
        cursor: pointer;
        color: #101639;
        margin-bottom: 25px;
        margin-left: 10px;
    }

    .menuItem:hover {
        font: normal normal bold 18px/22px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #10163999;
    }

    .headingTitle {
        width: 278px;
        font: normal normal 800 28px/34px Open Sans, sans-serif;
    }

    .headingSubTitle {
        width: 294px;
        font: normal normal normal 18px/26px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF99;
    }

    .mobileMenuBlock {
        width: 110%;
        transform: translateX(-105%);
        margin-top: 74px;
        background-position: 80% 50%, 0 100%;
    }

    .transition {
        transform: translateX(-5%) !important;
    }

    .banner {
        background-position: 101% -150px, 100% 103%;
        background-size: 200px 455px;
    }

    .trusted {
        height: 389px;
    }

    .trustedTopBg {
        top: -680px;
        height: 40px;
    }

    .trustedContent {
        top: -680px;
    }

    .trustedBlock {
        position: relative;
        top: 10px;
    }

    .trustedBg {
        background-image: none;
        height: 878px;
    }

    .trustedContentBlock {
        margin-top: 30px;
    }

    .trustedTitle {
        width: 300px;
        margin-bottom: 40px;
        font: normal normal 800 28px/34px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #101639;
        text-align: center;
    }

    .trustedList {
        margin-top: 10px;
        width: 278px;
        text-align: center;
        letter-spacing: 0;
        color: #101639;
        font: normal normal 600 14px/22px Open Sans, sans-serif;
    }

    .tows {
        padding: 0;
    }

    .towsContent {
        background-position: -33px 30px;
        background-size: 185px 80px;
    }

    .towsTitle {
        margin-top: 100px;
        width: 278px;
        text-align: center;
        font: normal normal 800 28px/34px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }

    .webSolutionItem {
        background: transparent;
        text-align: center;
        width: 348px;
        height: 408px;
        padding: 20px;
    }

    .webSolutionItemTitle {
        text-align: center;
        font: normal normal 600 18px/36px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }

    .webSolutionItemDesc {
        text-align: center;
        font: normal normal normal 16px/23px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF66;
        padding-bottom: 10px;
        margin: 0 auto;
    }

    .ourProjectBlock {
        padding: 0;
    }
    .ourProjectBtn{
        width: 200px;
        height: 50px;
    }
    .Link {
        color: #101639;
        font: normal normal bold 20px/27px Open Sans,sans-serif;
        letter-spacing: 0;
    }

    .carouselItem {
        width: 260px;
    }
    .carouselItemTitle{
        font: normal normal 800 14px/26px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639;
        margin: 10px auto 0;
    }
    .carouselItemDesc{
        font: normal normal normal 14px/26px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639;
        margin: 0 auto;
    }


    .carouselItemImage:before {
        background-size: 303px 111px;
        left: -22px;
    }

    .carouselItemImage {
        height: 150px;
    }

    .bg {
        background-size: 425px 448px;
    }

    .bgRevers {
        height: 135px;
        bottom: -135px;
        background-size: cover;
    }

    .imgMatrix {
        display: none;
    }

    .ourProjectTitle {
        color: #101639;
        font: normal normal 800 28px/34px Open Sans, sans-serif;
    }

    .ourProjectDesc {
        width: 280px;
        text-align: center;
        letter-spacing: 0;
        color: #101639;
        font: normal normal normal 18px/26px Open Sans, sans-serif;
    }

    .ourProjectCarousel {
        max-width: 333px;
    }

    .ourTeamCarouselItemTitle {
        font-size: 16px;
    }

    .ourTeamCarouselItemInfo,
    .ourTeamCarouselItemDesc {
        font-size: 14px;
    }

    .ourTeamTitle > h2 {
        font: normal normal 800 28px/34px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }

    .ourTeamBlock {
        margin-top: 0;
        padding: 0;
        position: relative;
        top: -80px;
    }

    .ourTeamDesc > p {
        margin-top: 20px;
        text-align: center;
        width: 260px;
        font: normal normal normal 18px/26px Open Sans;
        letter-spacing: 0;
        color: #FFFFFF;
    }

    .swiperSlideItem {
        width: 134px;
        height: 172px !important;
        margin: 0;
    }
    .ourTeamCarouselItemTitle{
        text-align: left;
    }
    .ourTeamCarouselItemDesc{
        text-align: left;
    }

    .swiperSlideItem:hover {
        transform: scale(1.03) !important;
        filter: none;
        box-shadow: inset 0 -100px 40px 0 rgba(0, 0, 0, 0.65);
    }

    .contactTitle {
        text-align: center;
        font: normal normal 800 20px/0 Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639;
        text-transform: uppercase;
    }

    .contactNum {
        margin-top: 20px;
        font: normal normal 300 16px/38px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639;
    }

    .contactEmail {
        font: normal normal normal 14px/28px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639B3;
    }

    .contactPlace {
        margin-top: 10px;
        font: normal normal 300 16px/48px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639;
        text-transform: uppercase;
    }

    .contactPlaceInfo {
        font: normal normal normal 14px/20px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #101639B3;
        width: 200px;
    }
    .contactUsQuestion{
        width: 240px;
        text-align: center;
        font: normal normal 800 28px/34px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }
    .contactUsHelp{
        margin-top: 20px;
        width: 240px;
        text-align: center;
        font: normal normal normal 18px/26px Open Sans,sans-serif;
        letter-spacing: 0;
        color: #FFFFFF;
    }
    .contactUsBtn{
        width: 200px;
        height: 50px;
    }
}
@media screen and (max-width: 380px) {
    .bg {
        background-size: 375px 400px;
    }
}
@media screen and (max-width: 320px) {


    .headingSubTitle {
        width: 280px;
        font: normal normal normal 18px/26px Open Sans, sans-serif;
        letter-spacing: 0;
        color: #FFFFFF99;
    }

    .mobileMenuBlock {
        width: 110%;
        transform: translateX(-106%);
        margin-top: 74px;
        background-position: 80% 50%, 0 100%;
    }

    .transition {
        transform: translateX(-6%) !important;
    }

    .banner {
        background-size: 180px 453px;
    }


    .webSolutionItem {
        background: transparent;
        text-align: center;
        width: 280px;
        height: 408px;
        padding: 0;
    }

    .webSolutionItemDesc {
        width: 280px;
    }


    .carouselItem {
        width: 240px;
    }


    .carouselItemImage:before {
        background-size: 280px 117px;
        left: -20px;
    }


    .bg {
        background-size: 320px 400px;
    }


    .ourProjectDesc {
        width: 280px;
        text-align: center;
        letter-spacing: 0;
        color: #101639;
        font: normal normal normal 18px/26px Open Sans, sans-serif;
    }

    .ourProjectCarousel {
        max-width: 314px;
    }
    .swiperSlideItem {
        width: 132px;
    }

    .swiperSlideItem:hover {
        transform: scale(1.03) !important;
        filter: none;
        box-shadow: inset 0 -100px 40px 0 rgba(0, 0, 0, 0.65);
    }

}
