
.header {
    width: 100%;
    max-width: 1960px;
    padding: 20px 110px;
    position: absolute;
}

.menuBlock {
    display: flex;
}

.banner {
    padding-top: 28px;
    padding-bottom: 28px;
    background-image: url("../../public/images/banner/Group69250.svg"), url("../../public/images/banner/Group69165.svg");
    background-position: 100% 0, -50px 100%;
    background-repeat: no-repeat;
}

.bannerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    max-width: 1200px;
    margin-top: 120px;

}

.headingSubTitle {
    font: normal normal normal 30px/38px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF99;
    width: 1000px;
    margin-top: 30px;
}

.bannerImg {
    position: relative;
    margin: 120px auto 0;
    height: 600px;
    width: fit-content;
}

.imgItem1 {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
}

.imgItem2 {
    position: absolute;
    top: -80px;
    left: 50%;
    z-index: 3;
}

.imgItem3 {
    position: relative;
    z-index: 2;
}

.menuItem {
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-right: 50px;
    transition: all ease 0.5s;
}

.flag {
    margin-right: 10px;
}

.lang {
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.menuItem:hover,
.dropDawnOptions:hover .lang {
    color: #FFFFFF99;
}

.langBlock {
    position: relative;
}

.dropDawnSelect {
    position: absolute;
    top: 35px;
    z-index: 10;
    right: 0;
    width: 169px;
    height: 94px;
    border-radius: 4px;
    box-shadow: 0 5px 5px #121C2733;
    background: #FFFFFF0D;
}

.dropDawnOptionsContainer {
    padding: 16px 15px;
}

.dropDawnOptions {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 22px;
}

.trusted {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 1006px;
    position: relative;
    top: -180px;
}

.trustedContentBlock {
    padding-left: 110px;
}

.trustedBlock {
    position: relative;
    top: 279px;
}

.trustedBg {
    background-image: url("../../public/images/trusted/MaskGroup13@2x.png");
    background-position: 100% 169px;
    background-size: 1054px 838px;
    background-repeat: no-repeat;
    height: 100%;
}

.trustedTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-align: left;
    margin-bottom: 30px;
}

.trustedList {
    margin-left: 15px;
    text-align: left;
    font: normal normal 600 26px/34px Open Sans;
    letter-spacing: 0;
    color: #101639;
    margin-bottom: 30px;
}

.tows {
    width: 100%;
    position: relative;
    top: -180px;
    padding: 0 110px;
}

.towsContent {
    background-image: url("../../public/images/tows/Group69162.svg");
    background-position: 0 30px;
    background-repeat: no-repeat;
}

.webSolutionItem {
    width: 520px;
    height: 560px;
    background: #171333 0 0 no-repeat padding-box;
    border-radius: 15px;
    text-align: left;
    padding: 40px;
}

.webSolutionItemTitle {
    margin-top: 40px;
    font: normal normal 600 28px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
}

.webSolutionItemDesc {
    font-size: 20px;
    line-height: 28px;
    font-family: OpenSans-Regular, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF66;
    width: 466px;
}

.towsTitle {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 67px;
    text-align: left;
    padding-left: 15px;
}

.imgMatrix {
    position: absolute;
    top: 67px;
    right: 400px;
    z-index: 0;
}

.bg {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    top: -300px;
}

.ourProject {
    width: 100%;
}

.ourProjectBlock {
    position: relative;
    top: -300px;
    background: #ffffff;
    padding: 30px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProjectTitle {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #101639;
}

.ourProjectDesc {
    font-size: 30px;
    line-height: 38px;
    font-family: OpenSans-Regular, sans-serif;
    color: #101639;
}

.ourProjectBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background: #98FC03;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all ease 0.5s;
}

.ourProjectBtn:hover {
    transform: scale(0.95);
}

.Link {
    color: #101639;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.bgRevers {
    background-image: url("../../public/images/trusted/Path128902.svg");
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
    bottom: -248px;
}

.carouselItem {
    width: 370px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.carouselItemImageBlock {
    margin-top: 40px;
    /*position: relative;*/
}

.carouselItemImage {
    width: 100%;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px #00000033;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.carouselItemImage:before {
    content: "";
    position: absolute;
    background-image: url("../../public/images/outProject/Group69166.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 400px;
    top: -65px;
    left: -30px;
}

.carouselItemTitle {
    font-weight: 800;
    font-size: 22px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639;
    margin-top: 15px;
    align-self: flex-start;
}

.carouselItemDesc {
    font-weight: normal;
    letter-spacing: 0;
    font-size: 20px;
    font-family: OpenSans, sans-serif;
    color: #101639B3;
    text-transform: capitalize;
    margin-top: 10px;
    align-self: flex-start;
}

.ourProjectCarousel {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.slider {
    padding: 0 10px;
}

.ourTeamBlock {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ourTeamTitle > h2 {
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #fff;
    letter-spacing: 0;
}

.ourTeamDesc > p {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 0;
    color: #FFFFFF
}

.swiperSlideItem {
    max-width: 404px;
    height: 520px !important;
    background-image: url("../../public/images/ourTeam/4.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: all 0.8s !important;
    cursor: pointer;
    margin: 40px 0;
    z-index: 33;
    position: relative;
}

.swiperSlideItem:hover {
    transform: scale(1.03) !important;
    filter: none;
    box-shadow: inset 0 -200px 65px -1px rgba(0, 0, 0, 0.65);
}

.swiperSlideItem:hover .ourTeamCarouselItemInfo {
    color: #FFFFFFB3;
    display: block;
}

.swiperSlideItem:hover .ourTeamCarouselItemContext {
    top: -20px;
    padding-bottom: 20px;
}


.ourTeamCarouselItemTitle {
    font: normal normal 800 24px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
}

.ourTeamCarouselItemDesc {
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0;
    color: #FFFFFFB3;
}

.ourTeamCarouselItemInfo {
    transition: all ease 0.6s !important;
    margin: 25px 0 0;
    font: normal normal normal 18px/26px Open Sans;
    letter-spacing: 0;
    color: transparent;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 370px;
    text-align: center;
    padding: 0 20px;
}

.ourTeamCarouselItemContext {
    width: 100%;
    padding: 10px 0 15px;
    position: relative;
    transition: all ease 0.5s;
    margin-bottom: 20px;
    top: 20px;
}

.contactBlock {
    width: 100%;
    padding: 50px 0;
    background: #ffffff;
}

.contactTitle {
    font-weight: 800;
    font-size: 40px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactNum {
    font: normal normal 300 36px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactEmail {
    font-weight: normal;
    font-size: 24px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #101639B3;
}


.contactPlace {
    font: normal normal 300 36px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-transform: uppercase;
}

.contactPlaceInfo {
    text-align: center;
    font: normal normal normal 24px/32px Open Sans;
    letter-spacing: 0;
    color: #101639B3;
    width: 33%;
}

.contactSocialInfo > ul {
    margin-top: 10px;
    display: flex;
}

.contactSocialInfo > ul > li {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #101639;
    transition: all ease 0.5s;
    cursor: pointer;
}

.contactSocialInfo > ul > li:hover {
    background: #27336e;
}

.contactSocialInfo > ul > li:last-child {
    margin-right: 0;
}

.contactUsBlock {
    width: 100%;
    padding: 100px 0;
    background: #160A28;
}

.contactUsQuestion {
    letter-spacing: 0;
    font-weight: 800;
    font-size: 60px;
    font-family: OpenSans, sans-serif;
    color: #FFFFFF;
}

.contactUsHelp {
    font-weight: normal;
    font-size: 30px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.contactUsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background: #98FC03;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all ease 0.5s;
    font: normal normal bold 22px/30px Open Sans;
    letter-spacing: 0;
    color: #101639;
}
.contactUsBtn:hover {
    transform: scale(0.95);
}