
.header {
    width: 100%;
    max-width: 1960px;
    padding: 20px 110px;
    position: absolute;
}

.menuBlock {
    display: flex;
}

.banner {
    padding-top: 28px;
    padding-bottom: 28px;
    background-image: url("../../public/images/banner/Group 69250.svg"), url("../../public/images/banner/Group 69165.svg");
    background-position: 100% 0, -50px 100%;
    background-repeat: no-repeat;
}

.bannerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    max-width: 1200px;
    margin-top: 120px;

}

.headingSubTitle {
    font: normal normal normal 30px/38px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF99;
    width: 1000px;
    margin-top: 30px;
}

.bannerImg {
    position: relative;
    margin: 120px auto 0;
    height: 600px;
    width: fit-content;
}

.imgItem1 {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
}

.imgItem2 {
    position: absolute;
    top: -80px;
    left: 50%;
    z-index: 3;
}

.imgItem3 {
    position: relative;
    z-index: 2;
}

.menuItem {
    font: normal normal bold 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-right: 50px;
    transition: all ease 0.5s;
}

.flag {
    margin-right: 10px;
}

.lang {
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.menuItem:hover,
.dropDawnOptions:hover .lang {
    color: #FFFFFF99;
}

.langBlock {
    position: relative;
}

.dropDawnSelect {
    position: absolute;
    top: 35px;
    z-index: 10;
    right: 0;
    width: 169px;
    height: 94px;
    border-radius: 4px;
    box-shadow: 0 5px 5px #121C2733;
    background: #FFFFFF0D;
}

.dropDawnOptionsContainer {
    padding: 16px 15px;
}

.dropDawnOptions {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 22px;
}

.trusted {
    background-image: url("../../public/images/trusted/Path 128902.svg");
    background-repeat: no-repeat;
    height: 1006px;
    position: relative;
    top: -180px;
}

.trustedContentBlock {
    padding-left: 110px;
}

.trustedBlock {
    position: relative;
    top: 279px;
}

.trustedBg {
    background-image: url("../../public/images/trusted/Mask Group 13@2x.png");
    background-position: 100% 169px;
    background-size: 1054px 838px;
    background-repeat: no-repeat;
    height: 100%;
}

.trustedTitle {
    font: normal normal 700 60px/68px Open Sans;
    letter-spacing: 0;
    color: #101639;
    text-align: left;
    margin-bottom: 30px;
}

.trustedList {
    margin-left: 15px;
    text-align: left;
    font: normal normal 600 26px/34px Open Sans;
    letter-spacing: 0;
    color: #101639;
    margin-bottom: 30px;
}

.tows {
    width: 100%;
    position: relative;
    top: -180px;
    padding: 0 110px;
}

.towsContent {
    background-image: url("../../public/images/tows/Group 69162.svg");
    background-position: 0 30px;
    background-repeat: no-repeat;
}

.webSolutionItem {
    width: 520px;
    height: 560px;
    background: #171333 0 0 no-repeat padding-box;
    border-radius: 15px;
    text-align: left;
    padding: 40px;
}

.webSolutionItemTitle {
    margin-top: 40px;
    font: normal normal 600 28px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
}

.webSolutionItemDesc {
    font-size: 20px;
    line-height: 28px;
    font-family: OpenSans-Regular,sans-serif;
    letter-spacing: 0;
    color: #FFFFFF66;
    width: 466px;
}

.towsTitle{
    font-size: 60px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 68px;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 67px;
    text-align: left;
    padding-left: 15px;
}
.imgMatrix{
    position: absolute;
    top: 67px;
    right: 400px;
    z-index: 0;
}