.id_container {
    background-color: #101639;
    min-height: 100vh;
}

.padding_our_project_container {
    padding-top: 195px;
}

.m_container {
    padding-left: 110px;
    padding-right: 110px;
}

.project_title {
    font-family: OpenSans-ExtraBold, sans-serif;
    letter-spacing: 0;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 68px;
    text-align: center;
}

.project_subTitle {
    margin-bottom: 15px;
    font-family: OpenSans-Regular, sans-serif;
    letter-spacing: 0;
    color: hsla(0, 0%, 100%, .6);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.web_mac_image_container {
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: baseline;
}

.mac_absolute_image {
    position: absolute;
    top: 5%;
    left: 14%;
    width: 72%;
    height: 80%;
    background-color: red;
    z-index: 2;
    background-position: center ;
    background-size: contain;
}

.mac_image {
    width: 1042px;
    height: 601px;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

.inf_text_container {
    display: flex;
    margin-bottom: 50px;
}

.inf_text_container2 {
    flex-direction: row-reverse;
}

.inf_text_item {
    margin: 0 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.small_title {
    font-family: OpenSans-SemiBold, sans-serif;
    letter-spacing: 0;
    color: #fff;
    font-size: 28px;
    line-height: 68px;
    margin-bottom: 5px;
    text-align: left;
}

.small_title2 {
    text-align: right;
}

.small_subTitle {
    margin-bottom: 15px;
    font-family: OpenSans-Regular, sans-serif;
    letter-spacing: 0;
    color: hsla(0, 0%, 100%, .4);
    font-size: 20px;
    line-height: 28px;
    text-align: left;

}

.small_subTitle2 {
    text-align: right;
}

.inf_text_item_image {
    flex: 1;
    height: 340px;
    margin: 0 14px;
    background: #0b1131 center no-repeat padding-box;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 15px;
    background-size: cover;
}

.big_image_our_project_id {
    height: 956px;
    background: #0b1131 center no-repeat padding-box;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 15px;
    margin-bottom: 150px;
    background-size: contain;
}

.id_bottom_image_container {
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
}

.id_bottom_image_container_item {
    flex: 1;
    margin-right: 28px;
    height: 470px;
    background: #0b1131 0 0 no-repeat padding-box;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 15px;
}

.id_bottom_image_container_item:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 1990px) {

}

@media only screen and (max-width: 1366px) {
    .m_container {
        padding-left: 65px;
        padding-right: 65px;
    }

    .mac_absolute_image {
        top: 5%;
        left: 14%;
        width: 72%;
        height: 80%;
        background-color: #ff0;
    }

    .mac_image {
        width: 920px;
        height: 531px;
    }

    .big_image_our_project_id {
        height: 695px;
    }


}

@media only screen and (max-width: 1170px) {
    .m_container {
        padding-left: 62px;
        padding-right: 62px;
    }

    .project_title {
        font-size: 36px;
    }

    .project_subTitle {
        font-size: 22px;
        line-height: 30px;
    }

    .mac_absolute_image {
        top: 5%;
        left: 14%;
        width: 72%;
        height: 80%;
        background-color: #ff0;
    }

    .mac_image {
        width: 860px;
        height: 496px;
    }

    .big_image_our_project_id {
        height: 560px;
    }

    .id_bottom_image_container {
        padding-bottom: 100px;
    }

    .id_bottom_image_container_item {
        height: 245px;
        margin-right: 20px;
    }

    .small_title {
        font-size: 24px;
        line-height: normal;

    }

    .small_subTitle {
        font-size: 16px;
        line-height: normal;

    }
}

@media only screen and (max-width: 992px) {
    .m_container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .project_title {
        font-size: 32px;
    }

    .project_subTitle {
        font-size: 20px;
        line-height: 28px;
    }


    .mac_absolute_image {
        top: 5%;
        left: 14%;
        width: 72%;
        height: 80%;
    }

    .mac_image {
        width: 720px;
        height: 415px;
    }


    .big_image_our_project_id {
        height: 405px;
    }

    .id_bottom_image_container {
        padding-bottom: 100px;
    }

    .id_bottom_image_container_item {
        height: 245px;
        margin-right: 20px;
    }

    .inf_text_container {
        flex-direction: column;
        text-align: center;
    }

    .inf_text_item_image {
        flex: none;
        margin-top: 30px;
        height: 405px;
        margin-left: 0;
        margin-right: 0;

    }

    .small_title {
        text-align: center;
    }

    .small_subTitle {
        text-align: center;
    }

}

@media only screen and (max-width: 767px) {
    .m_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project_title {
        font-size: 30px;
    }

    .project_subTitle {
        font-size: 18px;
        line-height: 25px;
    }


    .mac_absolute_image {
        top: 5%;
        left: 14%;
        width: 72%;
        height: 80%;
    }

    .mac_image {
        width: 665px;
        height: 384px;
    }

    .big_image_our_project_id {
        margin-bottom: 80px;
    }

    .id_bottom_image_container {
        padding-bottom: 100px;
    }

    .id_bottom_image_container_item {
        height: 245px;
        margin-right: 15px;
    }

    .small_title {
        font-size: 18px;
        line-height: 36px;
    }


    .small_subTitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .id_bottom_image_container {
        flex-direction: column;
    }

    .id_bottom_image_container_item {
        width: 100%;
        margin: 10px 0;
        flex: none;
    }

}


@media only screen and (max-width: 374px) {
    .m_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project_title {
        font-size: 28px;
    }

    .project_subTitle {
        font-size: 16px;
        line-height: 20px;
    }

    .mac_image {
        width: 280px;
        height: 161px;
    }

    .inf_text_item_image, .big_image_our_project_id {
        margin-top: 20px;
        height: 158px;

    }

    .id_bottom_image_container {
        flex-direction: column;
    }

    .id_bottom_image_container_item {
        height: 158px;
        width: 100%;
        margin: 10px 0;
        flex: none;
    }
}